 body {
    font: 0.7rem sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(25, 20, 20);
  }

 h1 {
    margin:  10px;
    text-align: left;
    font-size: 500%;
    color: white;
  }

 h2 {
    margin:  10px;

    opacity: 0.5;
  }

 label {
    font-size: 150%;
 }

 img {
    width: 15%;
    max-width: 100%
    height: auto;
    position: relative;
    left: 100px;
 }

 .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .image {
    flex-basis: 40%
}

 .text {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
