<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>JUSTify Player</title>

</head>
<body>
    <div class="topnav">
    <a href="/sign_out">Sign Out</a>


    </div>
    <br>
    <div class="header">
        <img src="/static/spotify.png">
            <h1 class="header">JUSTify Player</h1>
    </div>
    <h2> <p>Ever want to listen to music on Spotify, but not want
to create a queue?</p> </h2>
<h3>
<p>JUSTify is an app that plays just the songs from the
artists you select by</p><p>forming a shuffled queue that
includes each artists' top 10 songs in random order.</p></h3>
<h3>
    <br>
    To use:
<p>1.Login or register for a Spotify account.</p>
<p>2. Specify the device connected to Spotify you wish
to interact with (webplayer, mobile phone,
desktop app, etc.).</p>
<p>3. Select between 1 - 4 different artists (at the moment
you must use exact spelling of each artist).</p>
<p>4. Press create playlist.</p>
<p>5. Start listening!</p></h3>
    <br>
    {% if devices|length == 0 %}
    Start a device and reload page!
    {% else %}
    <form>
        <label for="device">Select a device:</label>
        <select id="device" name="device">
        {% for device in devices %}
            <option value="{{ device['id'] }}">{{ device['name'] }} {{ device['type'] }}</option>
        {% endfor %}}
        </select>
        <br>
        <br>
        <h3>Select artists:</h3>
        <input type="text" id="artist1" name="artist1">
        <input type="text" id="artist2" name="artist2">
        <input type="text" id="artist3" name="artist3">
        <input type="text" id="artist4" name="artist4">
        <input type="submit" value="Create Playlist">
        <br>
        <h3>Now Playing:</h3>
        <h2>{{ current_artist }} - {{ current_song }}</h2>
        <br>
        <input type="submit" name="previous" value="previous">
        <input type="submit" name="playpause" value="{{ play_pause_label }}">
        <input type="submit" name="next" value="next">
    </form>
    {% endif %}

</body>
</html>