<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>JUSTify Player</title>
    <img src="/static/spotify.png">
    <h1>JUSTify Player</h1>
</head>
<body>
    {% if devices|length == 0 %}
    Start a device and reload page!
    {% else %}
    <form>
        <label for="device">Select a device:</label>
        <select id="device" name="device">
        {% for device in devices %}
            <option value="{{ device['id'] }}">{{ device['name'] }} {{ device['type'] }}</option>
        {% endfor %}}
        </select>
        <br>
        <br>
        <h3>Select artists:</h3>
        <input type="text" id="artist1" name="artist1">
        <input type="text" id="artist2" name="artist2">
        <input type="text" id="artist3" name="artist3">
        <input type="text" id="artist4" name="artist4">
        <input type="submit" value="Create Playlist">
        <br>
        <h3>Now Playing:</h3>
        <h2>{{ current_artist }} - {{ current_song }}</h2>
        <br>
        <input type="submit" name="previous" value="previous">
        <input type="submit" name="playpause" value="{{ play_pause_label }}">
        <input type="submit" name="next" value="next">
    </form>
    {% endif %}

</body>
</html>